In [95]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import Window

In [57]:
spark = SparkSession.builder.appName("data1").getOrCreate()

In [59]:
spark

In [61]:
df = spark.read.option("header", True).option("inferSchema", True).csv(r"C:\Users\Rahul\Desktop\Centillion Training\learn-pyspark\data\Piece_Dimension.csv")

In [63]:
df.show(10)

+-------+------+-----+------+--------+
|Item_No|Length|Width|Height|Operator|
+-------+------+-----+------+--------+
|      1|102.67|49.53| 19.69|    Op-1|
|      2| 102.5|51.42| 19.63|    Op-1|
|      3| 95.37|52.25| 21.51|    Op-1|
|      4| 94.77|49.24|  18.6|    Op-1|
|      5|104.26| 47.9| 19.46|    Op-1|
|      6|105.18|49.39| 20.36|    Op-1|
|      7| 97.35|48.05| 20.22|    Op-1|
|      8| 99.35|44.59| 21.03|    Op-1|
|      9| 90.62|47.29| 19.78|    Op-1|
|     10| 97.22|52.14| 20.71|    Op-1|
+-------+------+-----+------+--------+
only showing top 10 rows

In [65]:
df.printSchema()

root
 |-- Item_No: integer (nullable = true)
 |-- Length: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Operator: string (nullable = true)

In [67]:
df.count()

500

In [69]:
df.describe().show()

+-------+-----------------+-----------------+------------------+------------------+--------+
|summary|          Item_No|           Length|             Width|            Height|Operator|
+-------+-----------------+-----------------+------------------+------------------+--------+
|  count|              500|              500|               500|               500|     500|
|   mean|            250.5|99.76913999999987|          49.93288|20.293219999999977|    NULL|
| stddev|144.4818327679989| 4.10747125377661|2.1138197115994304|1.0517178578425912|    NULL|
|    min|                1|            87.52|             42.74|             17.37|    Op-1|
|    max|              500|            116.6|             58.26|             23.39|    Op-9|
+-------+-----------------+-----------------+------------------+------------------+--------+

In [71]:
df.select("Item_No", "Length", "Width", "Height").show(10)

+-------+------+-----+------+
|Item_No|Length|Width|Height|
+-------+------+-----+------+
|      1|102.67|49.53| 19.69|
|      2| 102.5|51.42| 19.63|
|      3| 95.37|52.25| 21.51|
|      4| 94.77|49.24|  18.6|
|      5|104.26| 47.9| 19.46|
|      6|105.18|49.39| 20.36|
|      7| 97.35|48.05| 20.22|
|      8| 99.35|44.59| 21.03|
|      9| 90.62|47.29| 19.78|
|     10| 97.22|52.14| 20.71|
+-------+------+-----+------+
only showing top 10 rows

In [73]:
df = df.withColumnRenamed("Item_No", "item_id")

In [75]:
df = df.withColumn(
    "volume",
    col("Length") * col("Width") * col("Height")
)

df.show()

+-------+------+-----+------+--------+------------------+
|item_id|Length|Width|Height|Operator|            volume|
+-------+------+-----+------+--------+------------------+
|      1|102.67|49.53| 19.69|    Op-1|100128.47601900001|
|      2| 102.5|51.42| 19.63|    Op-1|       103460.8965|
|      3| 95.37|52.25| 21.51|    Op-1|107186.10457500002|
|      4| 94.77|49.24|  18.6|    Op-1|       86796.43128|
|      5|104.26| 47.9| 19.46|    Op-1|       97184.29084|
|      6|105.18|49.39| 20.36|    Op-1|105766.94647200001|
|      7| 97.35|48.05| 20.22|    Op-1| 94582.43684999998|
|      8| 99.35|44.59| 21.03|    Op-1|      93163.246995|
|      9| 90.62|47.29| 19.78|    Op-1| 84765.60364400002|
|     10| 97.22|52.14| 20.71|    Op-1|104980.04206800001|
|     11| 100.0|54.76| 20.62|    Op-1|112915.12000000001|
|     12| 97.23|48.26| 19.51|    Op-1| 91547.15929800001|
|     13|105.72|50.04| 20.06|    Op-1|106121.98972799999|
|     14| 89.82|45.98|  20.3|    Op-1| 83837.44907999999|
|     15| 99.17|53.54| 20.25|    Op-1|107518.62645000001|
|     16| 95.51|45.36| 20.52|    Op-1|      88899.485472|
|     17|107.69|48.18| 19.33|    Op-1|     100293.786186|
|     18|106.83|50.81| 19.12|    Op-1|     103783.977576|
|     19| 98.73|55.76| 19.37|    Op-1|106635.42957600001|
|     20| 94.31|48.74|  18.8|    Op-1| 86417.38472000002|
+-------+------+-----+------+--------+------------------+
only showing top 20 rows

In [77]:
df.select(avg("Length").alias("avg_length"), min("Length").alias("min_length"), max("Length").alias("max_length")).show()

+-----------------+----------+----------+
|       avg_length|min_length|max_length|
+-----------------+----------+----------+
|99.76913999999987|     87.52|     116.6|
+-----------------+----------+----------+

In [79]:
df.groupby("Operator").agg(
    count("*").alias("total_items"),
    avg("Length").alias("avg_length"),
    avg("Width").alias("avg_width"),
    avg("Height").alias("avg_height")
).show()

+--------+-----------+------------------+------------------+------------------+
|Operator|total_items|        avg_length|         avg_width|        avg_height|
+--------+-----------+------------------+------------------+------------------+
|   Op-18|         29| 97.93482758620691|49.638620689655184| 20.44655172413793|
|   Op-20|         21| 99.75857142857144| 49.96666666666666| 20.17666666666667|
|    Op-1|         26| 99.66692307692307|  49.3573076923077|20.070769230769233|
|   Op-17|         23| 98.79304347826086|49.805217391304346| 20.64608695652174|
|   Op-10|         30|  98.5076666666667| 50.14533333333334|20.295333333333335|
|   Op-15|         19| 99.86947368421052| 49.29052631578949|20.407368421052627|
|    Op-6|         18|100.23166666666667| 49.13333333333333|20.444444444444443|
|    Op-9|         35| 98.73285714285716| 50.23142857142858|20.094571428571427|
|   Op-19|         21| 97.54142857142857|50.457142857142856|20.185238095238095|
|    Op-8|         20|100.32249999999999| 50.07900000000001|20.118000000000002|
|   Op-16|         25|           98.5692| 49.67920000000001|           20.6076|
|    Op-5|         33|105.54787878787882| 50.79363636363636|20.890303030303034|
|    Op-4|         21| 98.19190476190475| 47.56809523809524| 19.31190476190476|
|    Op-7|         33| 98.17333333333335|50.022727272727266| 20.13848484848485|
|   Op-14|         35| 99.12314285714282| 50.17028571428572|20.225142857142856|
|   Op-13|         21| 98.91857142857145| 49.63714285714286|20.169999999999998|
|    Op-3|         29|104.03827586206897|51.608620689655176|20.976896551724135|
|   Op-12|         20| 99.78849999999998|            50.166|20.040499999999998|
|   Op-11|         16|          99.51625|49.846875000000004|         20.233125|
|    Op-2|         25|100.71039999999999| 49.62159999999999|           20.0032|
+--------+-----------+------------------+------------------+------------------+

In [81]:
df.filter(col("Length") > 100).show()

+-------+------+-----+------+--------+------------------+
|item_id|Length|Width|Height|Operator|            volume|
+-------+------+-----+------+--------+------------------+
|      1|102.67|49.53| 19.69|    Op-1|100128.47601900001|
|      2| 102.5|51.42| 19.63|    Op-1|       103460.8965|
|      5|104.26| 47.9| 19.46|    Op-1|       97184.29084|
|      6|105.18|49.39| 20.36|    Op-1|105766.94647200001|
|     13|105.72|50.04| 20.06|    Op-1|106121.98972799999|
|     17|107.69|48.18| 19.33|    Op-1|     100293.786186|
|     18|106.83|50.81| 19.12|    Op-1|     103783.977576|
|     21|104.87|49.73| 19.94|    Op-1|     103990.790894|
|     23|108.45|44.46| 22.31|    Op-1|107571.83696999999|
|     26|102.66|50.76| 21.22|    Op-1|     110577.878352|
|     28|105.88|49.53|  18.7|    Op-2|       98067.22068|
|     29|101.68|52.79| 19.42|    Op-2|104240.48542400001|
|     34|100.53| 50.0| 21.13|    Op-2|106209.94499999999|
|     36|101.86|50.45| 18.05|    Op-2| 92756.00785000001|
|     37|105.22|54.61| 20.64|    Op-2|     118598.765088|
|     38|101.86|49.85| 19.15|    Op-2|       97238.35715|
|     40| 103.0|48.81| 19.39|    Op-2|        97481.8677|
|     41|100.57|53.52| 19.98|    Op-2|     107542.477872|
|     42|110.54|51.07| 21.95|    Op-2|123913.84771000002|
|     43|109.22|45.24| 20.05|    Op-2|       99069.31164|
+-------+------+-----+------+--------+------------------+
only showing top 20 rows

In [83]:
df.filter(col("Height") < 20).show()

+-------+------+-----+------+--------+------------------+
|item_id|Length|Width|Height|Operator|            volume|
+-------+------+-----+------+--------+------------------+
|      1|102.67|49.53| 19.69|    Op-1|100128.47601900001|
|      2| 102.5|51.42| 19.63|    Op-1|       103460.8965|
|      4| 94.77|49.24|  18.6|    Op-1|       86796.43128|
|      5|104.26| 47.9| 19.46|    Op-1|       97184.29084|
|      9| 90.62|47.29| 19.78|    Op-1| 84765.60364400002|
|     12| 97.23|48.26| 19.51|    Op-1| 91547.15929800001|
|     17|107.69|48.18| 19.33|    Op-1|     100293.786186|
|     18|106.83|50.81| 19.12|    Op-1|     103783.977576|
|     19| 98.73|55.76| 19.37|    Op-1|106635.42957600001|
|     20| 94.31|48.74|  18.8|    Op-1| 86417.38472000002|
|     21|104.87|49.73| 19.94|    Op-1|     103990.790894|
|     22| 98.06|48.39| 19.79|    Op-1|      93905.992086|
|     25| 97.66|50.69| 19.54|    Op-1| 96730.53071599998|
|     27| 95.69|49.48| 17.37|    Op-2|      82242.454644|
|     28|105.88|49.53|  18.7|    Op-2|       98067.22068|
|     29|101.68|52.79| 19.42|    Op-2|104240.48542400001|
|     30| 93.54|51.05| 19.29|    Op-2| 92113.93592999999|
|     36|101.86|50.45| 18.05|    Op-2| 92756.00785000001|
|     38|101.86|49.85| 19.15|    Op-2|       97238.35715|
|     39| 97.19| 49.9| 19.04|    Op-2|       92339.83024|
+-------+------+-----+------+--------+------------------+
only showing top 20 rows

In [85]:
df.orderBy(col("Length").desc()).show(3)

+-------+------+-----+------+--------+-------------+
|item_id|Length|Width|Height|Operator|       volume|
+-------+------+-----+------+--------+-------------+
|    127| 116.6|53.81| 23.39|    Op-5| 146754.61394|
|    128|115.28|47.98| 21.49|    Op-5|118864.078256|
|    123|113.73|54.77| 22.13|    Op-5|137847.595173|
+-------+------+-----+------+--------+-------------+
only showing top 3 rows

In [107]:
df.createOrReplaceTempView("Piece_Dimension")

In [109]:
spark.sql("""
    SELECT Operator,
           COUNT(*) AS total_items,
           AVG(volume) AS avg_volume
    FROM items
    GROUP BY Operator
""").show()

+--------+-----------+------------------+
|Operator|total_items|        avg_volume|
+--------+-----------+------------------+
|   Op-18|         29| 99417.06238127584|
|   Op-20|         21|100597.38889019049|
|    Op-1|         26| 98741.46005311538|
|   Op-17|         23|101564.93850373915|
|   Op-10|         30|100311.21673946663|
|   Op-15|         19|100514.29530031577|
|    Op-6|         18|100678.21779788891|
|    Op-9|         35| 99642.99607111426|
|   Op-19|         21| 99316.90775133336|
|    Op-8|         20|101115.78166630003|
|   Op-16|         25|    100844.2350866|
|    Op-5|         33|112317.76969851517|
|    Op-4|         21| 90415.38485790476|
|    Op-7|         33|  98850.2612551515|
|   Op-14|         35|100611.40951065713|
|   Op-13|         21| 98989.43782442858|
|    Op-3|         29|112636.29146037933|
|   Op-12|         20|100327.09518599998|
|   Op-11|         16|100294.49268743751|
|    Op-2|         25| 99982.52038104001|
+--------+-----------+------------------+

In [111]:
spark.stop()