In [69]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import *

In [7]:
spark = SparkSession.builder.appName("House-Price").master("local[*]").getOrCreate()

In [9]:
spark

In [15]:
df = spark.read.parquet(r"C:\Users\Rahul\Desktop\Centillion Training\learn-pyspark\data\house-price.parquet")

In [81]:
df.head(3)

[Row(price=13300000, area=7420, bedrooms=4, bathrooms=2, stories=3, mainroad='yes', guestroom='no', basement='no', hotwaterheating='no', airconditioning='yes', parking=2, prefarea='yes', furnishingstatus='furnished'),
 Row(price=12250000, area=8960, bedrooms=4, bathrooms=4, stories=4, mainroad='yes', guestroom='no', basement='no', hotwaterheating='no', airconditioning='yes', parking=3, prefarea='no', furnishingstatus='furnished'),
 Row(price=12250000, area=9960, bedrooms=3, bathrooms=2, stories=2, mainroad='yes', guestroom='no', basement='yes', hotwaterheating='no', airconditioning='no', parking=2, prefarea='yes', furnishingstatus='semi-furnished')]

In [17]:
df.show()

+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price| area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000| 7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000| 8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000| 9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
|12215000| 7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|
|11410000| 7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|
|10850000| 7500|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|
|10150000| 8580|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|
|10150000|16200|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|
| 9870000| 8100|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|
| 9800000| 5750|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|
| 9800000|13200|       3|        1|      2|     yes|       no|     yes|             no|            yes|      2|     yes|       furnished|
| 9681000| 6000|       4|        3|      2|     yes|      yes|     yes|            yes|             no|      2|      no|  semi-furnished|
| 9310000| 6550|       4|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
| 9240000| 3500|       4|        2|      2|     yes|       no|      no|            yes|             no|      2|      no|       furnished|
| 9240000| 7800|       3|        2|      2|     yes|       no|      no|             no|             no|      0|     yes|  semi-furnished|
| 9100000| 6000|       4|        1|      2|     yes|       no|     yes|             no|             no|      2|      no|  semi-furnished|
| 9100000| 6600|       4|        2|      2|     yes|      yes|     yes|             no|            yes|      1|     yes|     unfurnished|
| 8960000| 8500|       3|        2|      4|     yes|       no|      no|             no|            yes|      2|      no|       furnished|
| 8890000| 4600|       3|        2|      2|     yes|      yes|      no|             no|            yes|      2|      no|       furnished|
| 8855000| 6420|       3|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 20 rows

In [19]:
df.printSchema()

root
 |-- price: long (nullable = true)
 |-- area: long (nullable = true)
 |-- bedrooms: long (nullable = true)
 |-- bathrooms: long (nullable = true)
 |-- stories: long (nullable = true)
 |-- mainroad: string (nullable = true)
 |-- guestroom: string (nullable = true)
 |-- basement: string (nullable = true)
 |-- hotwaterheating: string (nullable = true)
 |-- airconditioning: string (nullable = true)
 |-- parking: long (nullable = true)
 |-- prefarea: string (nullable = true)
 |-- furnishingstatus: string (nullable = true)

In [83]:
df.dtypes

[('price', 'bigint'),
 ('area', 'bigint'),
 ('bedrooms', 'bigint'),
 ('bathrooms', 'bigint'),
 ('stories', 'bigint'),
 ('mainroad', 'string'),
 ('guestroom', 'string'),
 ('basement', 'string'),
 ('hotwaterheating', 'string'),
 ('airconditioning', 'string'),
 ('parking', 'bigint'),
 ('prefarea', 'string'),
 ('furnishingstatus', 'string')]

In [23]:
df.select(df["price"], df["area"], df["bedrooms"]).show()

+--------+-----+--------+
|   price| area|bedrooms|
+--------+-----+--------+
|13300000| 7420|       4|
|12250000| 8960|       4|
|12250000| 9960|       3|
|12215000| 7500|       4|
|11410000| 7420|       4|
|10850000| 7500|       3|
|10150000| 8580|       4|
|10150000|16200|       5|
| 9870000| 8100|       4|
| 9800000| 5750|       3|
| 9800000|13200|       3|
| 9681000| 6000|       4|
| 9310000| 6550|       4|
| 9240000| 3500|       4|
| 9240000| 7800|       3|
| 9100000| 6000|       4|
| 9100000| 6600|       4|
| 8960000| 8500|       3|
| 8890000| 4600|       3|
| 8855000| 6420|       3|
+--------+-----+--------+
only showing top 20 rows

In [89]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+--------+---------+--------+---------------+---------------+------------------+--------+----------------+
|summary|             price|              area|          bedrooms|         bathrooms|           stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|           parking|prefarea|furnishingstatus|
+-------+------------------+------------------+------------------+------------------+------------------+--------+---------+--------+---------------+---------------+------------------+--------+----------------+
|  count|               545|               545|               545|               545|               545|     545|      545|     545|            545|            545|               545|     545|             545|
|   mean| 4766729.247706422|  5150.54128440367|2.9651376146788992|1.2862385321100918|1.8055045871559634|    NULL|     NULL|    NULL|           NULL|           NULL|0.6935779816513762|    NULL|            NULL|
| stddev|1870439.6156573943|2170.1410225088025|0.7380638605685749|0.5024696160532152|0.8674924629255263|    NULL|     NULL|    NULL|           NULL|           NULL|0.8615857504605414|    NULL|            NULL|
|    min|           1750000|              1650|                 1|                 1|                 1|      no|       no|      no|             no|             no|                 0|      no|       furnished|
|    max|          13300000|             16200|                 6|                 4|                 4|     yes|      yes|     yes|            yes|            yes|                 3|     yes|     unfurnished|
+-------+------------------+------------------+------------------+------------------+------------------+--------+---------+--------+---------------+---------------+------------------+--------+----------------+

In [25]:
print(df.count())

545

In [91]:
df.columns

['price',
 'area',
 'bedrooms',
 'bathrooms',
 'stories',
 'mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'parking',
 'prefarea',
 'furnishingstatus']

In [105]:
having_null = df.na.drop().count() != df.count()
having_null

False

In [59]:
df.filter(df["price"] <= 0).count()

0

In [61]:
df.filter(df["price"] >= 0).count()

545

In [63]:
df.filter(df["area"] <= 0).count()

0

In [75]:
df.select(min(df["price"])).show()

+----------+
|min(price)|
+----------+
|   1750000|
+----------+

In [77]:
df.select(max(df["price"])).show()

+----------+
|max(price)|
+----------+
|  13300000|
+----------+

In [79]:
df.select(avg(df["price"])).show()

+-----------------+
|       avg(price)|
+-----------------+
|4766729.247706422|
+-----------------+

In [113]:
df.groupBy("price").count().show()

+--------+-----+
|   price|count|
+--------+-----+
| 5215000|    3|
|10150000|    2|
| 6020000|    3|
| 7420000|    3|
| 6475000|    2|
| 4403000|    3|
| 4375000|    1|
| 9100000|    2|
| 5285000|    1|
| 9870000|    1|
| 7980000|    1|
| 5075000|    1|
| 3570000|    4|
| 2961000|    1|
| 5229000|    1|
| 6615000|    2|
| 6230000|    2|
| 6265000|    1|
| 5866000|    1|
| 2380000|    3|
+--------+-----+
only showing top 20 rows

In [109]:
df.groupby("bedrooms").agg(avg("price")).show()

+--------+------------------+
|bedrooms|        avg(price)|
+--------+------------------+
|       6|         4791500.0|
|       5|         5819800.0|
|       1|         2712500.0|
|       3| 4954598.133333334|
|       2|3632022.0588235296|
|       4| 5729757.894736842|
+--------+------------------+

In [111]:
df.groupby("furnishingstatus").count().show()

+----------------+-----+
|furnishingstatus|count|
+----------------+-----+
|  semi-furnished|  227|
|     unfurnished|  178|
|       furnished|  140|
+----------------+-----+

In [115]:
df.agg(min("price").alias("min_price"), max("price").alias("max_price"), avg("price").alias("avg_price")).show()

+---------+---------+-----------------+
|min_price|max_price|        avg_price|
+---------+---------+-----------------+
|  1750000| 13300000|4766729.247706422|
+---------+---------+-----------------+